body {
    height: 100vh;
    background: linear-gradient(#D09F64, #f49797);
    font-family: 'Righteous', cursive;
    color: #460af8;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 10px 0;
    color: #4b13f1ad;
}

.button-container {
    display: flex;
}

button {
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    margin: 0 10px;
    background-color: #eda2faba;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    color: #460af8;
    border: 2px solid #4b13f1ad;
}

.start-button {
    width: 70px;
}

.button-active {
    background-color: #f8f8f8;
}

.cards-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.easy-container {
    width: 480px;
}

.medium-container {
    width: 600px;
}

.hard-container {
    width: 500px;
}

.card-frame {
    position: relative;
    height: 130px;
    width: 100px;
    margin: 7px;
    border-radius: 20%;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.5s ease;
}

.card-back {
    border-radius: 5%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: green;
    backface-visibility: hidden;
}

.card-front {
    border-radius: 5%;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgb(243, 124, 124);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.flipped {
    transform: rotateY(180deg);
}

.card-number {
    font-family: 'Calistoga', cursive;
    font-weight: 500;
    font-size: 60px;
}

.back-image {
    border-radius: 5%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bomb-image {
    height: 50%;
}

.explosion-image {
    height: 300px;
}

.victory-image {
    height: 250px;
}

.replay-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.replay-button {
    margin-top: 20px;
}

.scores-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.scores-container {
    z-index: 99;
    display: none;
    position: absolute;
    top: 90px;

    height: 300px;
    width: 500px;
    background-color: honeydew;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
}

.list-container div {
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    padding: 0;
}

.visible {
    display: flex;
}
