body {
    height: 100vh;
    background-color: antiquewhite;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.button-container {
    display: flex;
}

button {
    height: 30px;
    width: 70px;
    margin: 0 10px;
}

.button-active {
    background-color: blue;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.easy-container {
    width: 400px;
}

.medium-container {
    width: 600px;
}

.hard-container {
    width: 500px;
}

.card-frame {
    position: relative;
    height: 100px;
    width: 80px;
    margin: 10px;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.5s ease;
}

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: green;
    backface-visibility: hidden;
}

.card-front {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.flipped {
    transform: rotateY(180deg);
}

.bomb-image {
    height: 50%;
}

.explosion-image {
    height: 300px;
}

.victory-image {
    height: 250px;
}

.replay-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.replay-button {
    margin-top: 20px;
}

.scores-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.scores-container {
    z-index: 99;
    display: none;
    position: absolute;
    top: 90px;

    height: 300px;
    width: 500px;
    background-color: honeydew;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
}

.list-container div {
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    padding: 0;
}

.visible {
    display: flex;
}
